[submodule "vim/vim.symlink/bundle/Vundle.vim"]
	path = vim/vim.symlink/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule "tmux/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "mutt.symlink/mutt-colors-solarized"]
	path = mutt.symlink/mutt-colors-solarized
	url = https://github.com/altercation/mutt-colors-solarized
